h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

.meme-frame {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
  }

.meme-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
